.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

.cardProgrammazione {
  background-image: url("./assets/filmstrip-4395109_1280.webp");
  background-size: cover;

}

.navBar {
  background: radial-gradient(circle, rgba(214,216,230,1) 0%, rgba(70,67,67,1) 100%);
  
}

.titleNavBar {
  font-family: 'Rock Salt', cursive;
  font-weight: bolder;
  font-size: 3em;
}

.bodyBg {
  background: radial-gradient(circle, rgba(214,216,230,1) 0%, rgba(70,67,67,1) 100%);
}

.footerBg {
  background: radial-gradient(circle, rgba(214,216,230,1) 0%, rgba(70,67,67,1) 100%);
}